body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
}

article {
	width: 28%;
	float: left;
	margin: 1%;
	border: 1px solid lightblue;
}

section p {
	padding: 3px 10px;
}

footer {
	padding: 3px 10px;
	font-style: italic;
	font-size: .8em;
}

h1 {
	border: 1px dotted lightgray;
	margin: 0;
	text-align: center;
}

h3 {
	font-size: 1.2em;
	padding: 0 10px;
	margin: 10px 0 5px 0;
}

h4 {
	background-color: #999;
	color: yellow;
	width: 100%;
	padding: 5px 0;
	font-weight: 500;
	text-align: center;
}

p {
	margin: 0 10px;
}

img {
	display: block;
    margin: 7px auto;
	width: 80%;
}

.justified {
	text-align: justify;
}